In [3]:
#series in pandas is more or less like an array. it is built on top of a numpy array

In [4]:
import numpy as np
import pandas as pd

In [5]:
label = ['a','b','c']
d = {'a':10, 'b':20, 'c':30}
my_data = [10,40,60]
arr = np.array(my_data)

In [7]:
pd.Series(data = my_data)

0    10
1    40
2    60
dtype: int64

In [8]:
pd.Series(data = my_data, index = label)

a    10
b    40
c    60
dtype: int64

In [9]:
pd.Series(arr)

0    10
1    40
2    60
dtype: int32

In [10]:
pd.Series(arr, label)

a    10
b    40
c    60
dtype: int32

In [11]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [12]:
#dataframes

In [13]:
from numpy.random import randn

In [14]:
np.random.seed(101)

In [15]:
df = pd.DataFrame(randn(5,4), ['a','b','c','d','e'], ['w','x','y','z'])

In [16]:
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [18]:
df['w']   #print all values from a column

a    2.706850
b    0.651118
c   -2.018168
d    0.188695
e    0.190794
Name: w, dtype: float64

In [19]:
df['z']

a    0.503826
b    0.605965
c   -0.589001
d    0.955057
e    0.683509
Name: z, dtype: float64

In [21]:
#other way (least used)
df.w

a    2.706850
b    0.651118
c   -2.018168
d    0.188695
e    0.190794
Name: w, dtype: float64

In [23]:
df[['w','x']]  #multiple columns. returns a dataframe

          w         x
a  2.706850  0.628133
b  0.651118 -0.319318
c -2.018168  0.740122
d  0.188695 -0.758872
e  0.190794  1.978757

In [24]:
#create a new column
df['sums'] = df['w'] + df['z']

In [25]:
df

          w         x         y         z      sums
a  2.706850  0.628133  0.907969  0.503826  3.210676
b  0.651118 -0.319318 -0.848077  0.605965  1.257083
c -2.018168  0.740122  0.528813 -0.589001 -2.607169
d  0.188695 -0.758872 -0.933237  0.955057  1.143752
e  0.190794  1.978757  2.605967  0.683509  0.874303

In [36]:
#remove a column
df.drop('sums', axis=1, inplace=True)

#axis 0 is for rows,axis 1 is for columns
#inplace will delete column from original data else it is not permenantly removed

KeyError: "['sums'] not found in axis"

In [35]:
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057
e  0.190794  1.978757  2.605967  0.683509

In [38]:
df.drop('e', inplace=True)

In [39]:
df

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
c -2.018168  0.740122  0.528813 -0.589001
d  0.188695 -0.758872 -0.933237  0.955057

In [40]:
df.loc['a']    #label based index

w    2.706850
x    0.628133
y    0.907969
z    0.503826
Name: a, dtype: float64

In [42]:
df.iloc[2]      #numerical based index

w   -2.018168
x    0.740122
y    0.528813
z   -0.589001
Name: c, dtype: float64

In [43]:
#subset of a dataframe
df.loc[['a','b'], ['w','y']]

          w         y
a  2.706850  0.907969
b  0.651118 -0.848077

In [44]:
df > 0 #determines if the value of the dataframe was greater than 0

       w      x      y      z
a   True   True   True   True
b   True  False  False   True
c  False   True   True  False
d   True  False  False   True

In [45]:
df > 100

       w      x      y      z
a  False  False  False  False
b  False  False  False  False
c  False  False  False  False
d  False  False  False  False

In [46]:
df[df['w'] > 0]  #return only the values from the df which have a value greater than 0 in w column

          w         x         y         z
a  2.706850  0.628133  0.907969  0.503826
b  0.651118 -0.319318 -0.848077  0.605965
d  0.188695 -0.758872 -0.933237  0.955057

In [47]:
df.reset_index()  #change index values

  index         w         x         y         z
0     a  2.706850  0.628133  0.907969  0.503826
1     b  0.651118 -0.319318 -0.848077  0.605965
2     c -2.018168  0.740122  0.528813 -0.589001
3     d  0.188695 -0.758872 -0.933237  0.955057

In [52]:
new_index = 'CA NY WY OR'.split()

In [53]:
new_index

['CA', 'NY', 'WY', 'OR']

In [54]:
df['States'] = new_index

In [55]:
df

          w         x         y         z States
a  2.706850  0.628133  0.907969  0.503826     CA
b  0.651118 -0.319318 -0.848077  0.605965     NY
c -2.018168  0.740122  0.528813 -0.589001     WY
d  0.188695 -0.758872 -0.933237  0.955057     OR

In [56]:
df.set_index('States')  #change index to a particular column

               w         x         y         z
States
CA      2.706850  0.628133  0.907969  0.503826
NY      0.651118 -0.319318 -0.848077  0.605965
WY     -2.018168  0.740122  0.528813 -0.589001
OR      0.188695 -0.758872 -0.933237  0.955057

In [58]:
#playing with missing values

d = {'A':[1,2,np.nan], 'B': [5, np.nan, np.nan], 'C':[1,2,3]}

In [59]:
df1 = pd.DataFrame(d)

In [60]:
df1

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [61]:
df1.dropna()

     A    B  C
0  1.0  5.0  1

In [63]:
df1.replace()

     A    B  C
0  1.0  5.0  1
1  2.0  5.0  2
2  2.0  5.0  3

In [64]:
df1.dropna(axis=1)

   C
0  1
1  2
2  3

In [65]:
#replace missing value
df1

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [71]:
df1['A'].fillna(value=df1['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

In [72]:
df1['B'].fillna(value=df1['B'].mean())

0    5.0
1    5.0
2    5.0
Name: B, dtype: float64

In [73]:
df1['C'].fillna(value=df1['C'].mean())

0    1
1    2
2    3
Name: C, dtype: int64